<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MikeWaltonWeb.VagrantTray.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MikeWaltonWeb.VagrantTray.Properties.Settings>
            <setting name="SavedBookmarks" serializeAs="String">
                <value />
            </setting>
            <setting name="LaunchOnWindowsStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAsAdministrator" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShellApplication" serializeAs="String">
                <value>cmd</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </MikeWaltonWeb.VagrantTray.Properties.Settings>
    </userSettings>
</configuration>